* {
    box-sizing: border-box;
}

.back-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: 10px;
    background-color: rgba(182, 180, 180, 0.5);
    color: #0ab7fb;
    font-weight: 999;
    text-align: center;
    font-size: 2em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0cqh;
}

@media (max-width:768) {
    .back-button {
        width: 30px;
        height: 30px;
        top: 1em;
        font-size: 1.5em;
    }
}